<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Browse Adventures</title>
  </head>
  <body>
    <h1>Browse Adventures</h1>

    {% for story in theStories %}
        <br>{{story.title}}
        <br>{{story.start_id}}
    {% endfor %}

    {% for storyPoint in theStoryPoints %}
        <br>{{storyPoint.story_key}}
        <br>{{storyPoint.story_point_id}}
        <br>{{storyPoint.plot_text}}
    {% endfor %}

    {% for choicePoint in theChoicePoints %}
        <br>{{choicePoint.choice_text}}
        <br>{{choicePoint.begin_story_point_id}}
        <br>{{choicePoint.next_story_point_id}}
    {% endfor %}

  </body>
</html>
