<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Browse Adventures</title>
  </head>
  <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/browse">Browse</a>
  <a href="/profile">Profile</a>
  <a href="/about">Logout</a>
</div>
  <body>
    <h1>Browse Adventures</h1>
    {% if theStories < 1 %}
    You don't have any adventures! Make some!
    <form action="/oneform" method="get">
      <input type='submit' value="Create">
    </form>
    {% endif%}
    {% for story in theStories %}
        <br>
        <a href="/read?id={{story.key.id()}}" "{{story.title}}" id = "adventure_name">{{story.title}} by {{story.author}} </a>
        <br> <br>
    {% endfor %}

  </body>
</html>
